<%= form_with(model: load, local: true) do |form| %>
  <% if load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% load.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @stores = Store.all %>
    <%= form.label 'store_id' %><br />
    <%= form.select :store_id, @stores.collect { |store| [store.address, store.id] } %>
  
  </div>

  <div class="field">
    <%= form.label :pickup %>
    <%= form.datetime_select :pickup %>
  </div>

  <% if current_user.role_id == 1 %>
    <div class="field">
      <%= form.label :weight %>
      <%= form.number_field :weight %>
    </div>

    <div class="field">
      <%= form.label :paid %>
      <%= form.check_box :paid %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.text_field :status %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
