<p id="notice"><%= notice %></p>

<h1>Loads</h1>

<table>
  <thead>
    <tr>
      <th>Pickup</th>
      <th>Weight</th>
      <th>Paid</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loads.each do |load| %>
      <tr>
        <td><%= load.store.address %></td>
        <td><%= load.pickup %></td>
        <td><%= load.weight %></td>
        <td><%= load.paid %></td>
        <td><%= load.status %></td>
        <td><%= Load.find(load.id).invoice %></td>
        <td><%= link_to 'Show', load %></td>
        <td><%= link_to 'Edit', edit_load_path(load) %></td>
        <% if current_user.role_id == 1%>
        <td><%= link_to 'Destroy', load, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load', new_load_path %>
