<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @availability.store %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @availability.day_of_week %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
